<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}Главная страница{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>


<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Test store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/good/all/">Товары</a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link" href="/good/edit/">Добавить новый товар</a>
                </li>
            </ul>
            {% if user %}
                <p class="nav-item m-0">
                    <a class="nav-link" href="/user/lk/">Здравствуй, {{ user.name }}</a>
                </p>
            {% else %}
                <p class="nav-item m-0">
                    <a class="nav-link" href="/user/">Вход</a>
                </p>
            {% endif %}
            <a href="/cart">
                <button type="button" class="btn btn-success">Корзина</button>
            </a>
        </div>
    </nav>
</div>

<div class="container">
    {% block content %}Hello{% endblock %}
</div>

{% block modal %}
    {% if msg %}


        <button id="modalButton" type="button" class="btn btn-success" data-toggle="modal"
                data-target=".bd-example-modal-sm" hidden></button>
        <div id='myModal' class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <p class="d-flex flex-row justify-content-center m-3">{{ msg|e }}</p>
                </div>
                <button id="hideModal" type="button" class="btn btn-secondary" data-dismiss="modal" hidden>Close
                </button>
            </div>
        </div>

        <script>
            window.onload = () => {
                if (document.getElementById('hideModal')) {

                    document.getElementById('modalButton').click();

                }
                setTimeout(hideModal, 1500);
            }

            function hideModal() {
                if (document.getElementById('hideModal')) {
                    document.getElementById('hideModal').click();
                }
            }
        </script>
    {% endif %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
