.goods-layout {
    display: flex;
    margin: 0 -5px;
}

.card-position {
    margin: 10px 5px;
}

.good-layout,.page-header {
    margin: 20px 5px !important;
}

form input {
    margin-bottom: 10px
}

.good-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.good-buttons a {
    flex-grow: 1;
}

.good-buttons a:first-child {
    margin-right: 10px;
}